*{
    margin: 0;
    padding: 0;
    font-family: 'Verdana';
}
body{
    width: calc(100vw - overflow)!important;
    max-width: calc(100vw - overflow)!important;
    min-width: calc(100vw - overflow)!important;
    background: #94D0D0;
    font-size: 12px;
}
.btn:hover{
    cursor: pointer;
}